.element__delete-button{
    padding: 0;
    background-image: url(../../../images/Trash.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 20px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: content-box;
    background-size: contain;
    align-self: center;
    flex-shrink: 0;
    transition: opacity 0.5s linear;
    cursor: pointer;
    border-style: none;
    background-color: transparent;

}
.element__delete-button:hover {
    opacity: 0.6;
  }